- content_for :title, @admin_service.name

%h3= "Editing #{@admin_service.name}"

.well
  = render 'form'

= link_to 'Show', [:admin, @admin_service]
\|
= link_to 'Back', admin_services_path

:javascript
  $(".edit_service").validate();
