%h1 Listing doctors

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Name
        %th Mobile
        %th Address
        %th # of Recommendations
        %th Type
        %th Actions
    %tbody
      - @admin_doctors.each_with_index do |doctor, i|
        %tr
          %th{scope: 'row'}
            = i + 1
          %td= link_to doctor.name, doctor
          %td= doctor.mobile
          %td= doctor.address
          %td= doctor.recommendations
          %td
            - doctor_type = doctor.doctor_type
            - case doctor_type
            - when 'Nurse'
              %span.label.label-primary
                = doctor_type
            - when 'CPR Expert'
              %span.label.label-success
                = doctor_type
            - when 'Resident Doctor'
              %span.label.label-info
                = doctor_type
            - when 'ER Doctor'
              %span.label.label-warning
                = doctor_type
          %td
            = link_to 'Edit', edit_admin_doctor_path(doctor)
            = link_to 'Destroy', doctor, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'Create Doctor', new_admin_doctor_path

