= simple_form_for(@admin_speciality, url: admin_specialities_path) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-12
        .form-group
          = f.input :name, input_html: {class: "form-control"}
    .row
      .col-xs-12
        .form-group
          = f.input :description, input_html: {class: "form-control", rows: 4}

  .form-actions
    = link_to "Back", admin_specialities_path, class: "btn btn-default"
    = f.button :submit, class: "btn-primary"
