= simple_form_for(@admin_hospital, url: admin_hospitals_path) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-12
        .form-group
          = f.input :name, input_html: {class: "form-control"}
    .row
      .col-xs-12
        .form-group
          = f.input :phone, input_html: {class: "form-control", number: true}

    .row
      .col-xs-12
        .form-group
          = f.input :address, input_html: {class: "form-control", rows: 4}

    .row
      .col-xs-12
        .form-group
          = f.input :contact_name, input_html: {class: "form-control"}

  .form-actions
    = f.button :submit
