= simple_form_for([:admin, @disease]) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-12
        .form-group
          = f.input :name, input_html: {class: "form-control"}
    .row
      .col-xs-12
        .form-group
          = f.association :symptoms, input_html: {class: "form_control select2"}

  .form-actions
    = link_to "Cancel", admin_diseases_path, class: "btn btn-default"
    = f.button :submit, class: "btn-primary"


:javascript
  $('select').select2();