- content_for :title, 'Listing diseases'

%h3 Listing diseases

.row
  .col-xs-12
    .col-xs-2
      %span.badge.listing-result
        = pluralize(@diseases.total_count, 'Disease')
    .col-xs-8
      = search_form_for([:admin, @search_diseases]) do |f|
        .input-group
          = f.search_field :name_cont, placeholder: 'Search by name or address ...', type: 'search', value: "#{params[:q][:name_cont] rescue nil}", class: "form-control"
          %span.input-group-btn
            = f.submit class: "btn btn-warning" do
              %span.glyphicon.glyphicon-search

    .col-xs-2
      = link_to 'Create Disease', new_admin_disease_path, class: "btn btn-primary btn-raised pull-right no-margin-top"

%br

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Name
        %th Actions
    %tbody
      - @diseases.each_with_index do |disease, i|
        %tr
          %th{scope: 'row'}
            = i + 1
          %td= link_to disease.name, [:admin, disease]
          %td
            = link_to 'Edit', edit_admin_disease_path(disease)
            = link_to 'Destroy', [:admin, disease], method: :delete, data: { confirm: 'Are you sure?' }

  .text-center
    = paginate @diseases


