!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "BugsNpixel :: #{yield(:title)}"
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'admin/shared/menu'
    .container
      = yield

:javascript
  $(".select2").select2();
